.navbar{
width: 100%;
padding: 20px 58px;
display: flex;
justify-content: space-between;
.log{
    img{
        max-width: 250px;
    }
}
.nav-pages{
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
}
.left-side-icons{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
}
}